*
{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: red;
}
.nav
{
    max-width: 1200px;
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo
{
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}
.box
{
    color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    position: relative;
}
.cart-count
{
    position: absolute;
    background-color: black;
    top: -5px;
    right: 0;
    padding: 3px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 99;
}
#cart-icon
{
    font-size: 1.5rem;
    padding-top: 10px;
    cursor: pointer;
}
img{
    width: 100%;
}

.container
{
    max-width: 1200px;
    padding: 4rem;
    margin: auto;
    width: 100%;
   

}
h2.title
{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

}
.shop-content
{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.food-box
{
    position: relative;
    background-color: gray;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(40,37,37,0.1);
    border-radius: 3px;
    color:black;
}
.pic
{
    overflow: hidden;
}
.pic:hover img{
    transform: scale(1.5);
}
.food-img
{
    transition: 0.5s;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.food-title
{
    font-size: 1rem;
    font-weight: 600;
    color:black;
}
.food-price
{
    font-weight: 500;
}
.add-cart
{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #2ed573;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.5s;
}
.add-cart:hover
{
    background-color: red;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: white;
    box-shadow: 0 1px 4px rgba(40,37,37,0.1);
    z-index: 100;
}
.cart-active
{
    right: 0;
    transition: 0.5s;
}
.cart-title
{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.cart-box
{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    border-bottom: 1px solid  rgba(0, 0, 0,0, 1);
    padding-bottom: 10px;
}
.cart-img
{
    width: 75px;
    height: 75px;
    object-fit: cover;
    border: 2px solid black rgba(0, 0, 0,0, 1);
    padding: 5px;
}
.price-box{
    display: flex;
    justify-content: space-between;
}
.cart-food-title
{
    font-size: 1rem;
    text-transform: uppercase;
    color: red;
    font-weight: 500;
}
.cart-price
{
    font-weight: 500;
}
.cart-quantity
{
    border: 1px solid rgba(0, 0, 0,0, 1);
    outline: none;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove
{
    font-size: 24px;
    color: red;
    cursor: pointer;
}
.total
{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;

}
.total-title
{
    font-size: 1rem;
    font-weight: 600;
}
.total-price
{
    margin-left: 0.5rem;
}
.btn-buy
{
padding: 12px 20px;
background-color: black;
color: white;
border: none;
font-size: 1rem;
font-weight: 500;
cursor: pointer;
}
#cart-close
{
    position:absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}